USE [Patch]
GO
/****** Object:  Table [dbo].[SubGroupMaster]    Script Date: 12/12/2025 8:56:45 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubGroupMaster]') AND type in (N'U'))
DROP TABLE [dbo].[SubGroupMaster]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 12/12/2025 8:56:45 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Settings]') AND type in (N'U'))
DROP TABLE [dbo].[Settings]
GO
/****** Object:  Table [dbo].[PatchMaster]    Script Date: 12/12/2025 8:56:45 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PatchMaster]') AND type in (N'U'))
DROP TABLE [dbo].[PatchMaster]
GO
/****** Object:  Table [dbo].[ClientMaster]    Script Date: 12/12/2025 8:56:45 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClientMaster]') AND type in (N'U'))
DROP TABLE [dbo].[ClientMaster]
GO
/****** Object:  Table [dbo].[ClientMaster]    Script Date: 12/12/2025 8:56:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [varchar](100) NULL,
	[ClientName] [varchar](254) NULL,
	[ClientAlias] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[LastEdit] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatchMaster]    Script Date: 12/12/2025 8:56:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatchMaster](
	[PatchID] [int] IDENTITY(1,1) NOT NULL,
	[PatchName] [varchar](1000) NULL,
	[Patch_For] [varchar](500) NULL,
	[Type] [varchar](50) NULL,
	[IssueID] [int] NOT NULL,
	[Client] [varchar](100) NULL,
	[ReleaseDate] [date] NULL,
	[DeploymentDate] [date] NULL,
	[Environment] [varchar](50) NULL,
	[ReleasedBy] [varchar](max) NULL,
	[TestingStatus] [varchar](50) NULL,
	[ProjectName] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 12/12/2025 8:56:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[id] [varchar](100) NULL,
	[Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubGroupMaster]    Script Date: 12/12/2025 8:56:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubGroupMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupType] [varchar](100) NULL,
	[Description] [varchar](254) NULL,
	[IsActive] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[LastEdit] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClientMaster] ON 

INSERT [dbo].[ClientMaster] ([Id], [ClientID], [ClientName], [ClientAlias], [IsActive], [CreateDate], [LastEdit]) VALUES (1, N'1', N'Becton Dickinson India Private Limited', N'BD', 1, CAST(N'2025-12-11T22:38:45.637' AS DateTime), CAST(N'2025-12-11T22:38:45.637' AS DateTime))
SET IDENTITY_INSERT [dbo].[ClientMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[PatchMaster] ON 

INSERT [dbo].[PatchMaster] ([PatchID], [PatchName], [Patch_For], [Type], [IssueID], [Client], [ReleaseDate], [DeploymentDate], [Environment], [ReleasedBy], [TestingStatus], [ProjectName]) VALUES (6463, N'6463_DealerPortal_UAT_Minor_DumpReportChangeForTerritoryDetailsNotComing_11Nov2025_KaranPatil_562424', N'DumpReportChangeForTerritoryDetailsNotComing', N'Bug', 562424, N'JANDJ', CAST(N'2025-11-11' AS Date), NULL, N'Live', N'Karan P', NULL, N'JJCORE')
INSERT [dbo].[PatchMaster] ([PatchID], [PatchName], [Patch_For], [Type], [IssueID], [Client], [ReleaseDate], [DeploymentDate], [Environment], [ReleasedBy], [TestingStatus], [ProjectName]) VALUES (6464, N'6464_PCZ_SAPL_Carlsberg_UAT_React_SchemeMaster_11Nov25_Parth_Shitole-557971', N'SchemeMaster', N'New Development', 557971, N'Carlsberg', CAST(N'2025-11-11' AS Date), NULL, N'UAT', N'Parth Shitole', NULL, N'ProClaimz_2_0')
INSERT [dbo].[PatchMaster] ([PatchID], [PatchName], [Patch_For], [Type], [IssueID], [Client], [ReleaseDate], [DeploymentDate], [Environment], [ReleasedBy], [TestingStatus], [ProjectName]) VALUES (6465, N'6465_SRK_ZylemLiteUI_PrathameshPatil_11Nov2025_564679', N'ZylemLiteUI', N'Bug', 564679, N'SRK', CAST(N'2025-11-12' AS Date), NULL, N'Live', N'PrathameshPatil', NULL, N'ZylemLite')
SET IDENTITY_INSERT [dbo].[PatchMaster] OFF
GO
INSERT [dbo].[Settings] ([id], [Name]) VALUES (N'project_names', N'ADF,Cloud Convertor,JJ CORE,MARG,PorClaimz,ProClaimz 2.0,MDM,ZylemMIS,ZylemMINI,OTHER,shreyas')
INSERT [dbo].[Settings] ([id], [Name]) VALUES (N'Environment', N'UAT,LIVE,UAT AND LIVE,OTHER')
INSERT [dbo].[Settings] ([id], [Name]) VALUES (N'Type', N'BUG,New Deployment')
GO
SET IDENTITY_INSERT [dbo].[SubGroupMaster] ON 

INSERT [dbo].[SubGroupMaster] ([Id], [GroupType], [Description], [IsActive], [CreateDate], [LastEdit]) VALUES (1, N'SupportExecutive', N'Akash Wani-SAPL200', 1, CAST(N'2025-07-10T00:00:00.000' AS DateTime), CAST(N'2025-07-10T00:00:00.000' AS DateTime))
INSERT [dbo].[SubGroupMaster] ([Id], [GroupType], [Description], [IsActive], [CreateDate], [LastEdit]) VALUES (2, N'SupportExecutive', N'Anil Gujar-SAPL355', 1, CAST(N'2025-07-10T00:00:00.000' AS DateTime), CAST(N'2025-07-10T00:00:00.000' AS DateTime))
INSERT [dbo].[SubGroupMaster] ([Id], [GroupType], [Description], [IsActive], [CreateDate], [LastEdit]) VALUES (3, N'SupportExecutive', N'Dylan Dasilva-SAPL359', 1, CAST(N'2025-07-10T00:00:00.000' AS DateTime), CAST(N'2025-07-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[SubGroupMaster] OFF
GO
